{% extends 'base.html' %}

{% block title %}Estadísticas - Avistamiento de Aves en Chile{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estadisticas.css') }}">
{% endblock %}

{% block hero %}
  <h1>Estadísticas</h1>
  <p>Indicadores y métricas</p>
{% endblock %}

{% block content %}
  <!-- section: indicadores-->
   <div class="indicators">
      <article class="indicator">
          <h2 id="volunteer-counter">0</h2>
          <p>Voluntarios registrados</p>
      </article>

      <article class="indicator">
          <h2 id="sighting-counter">0</h2>
          <p>Avistamientos registrados</p>
      </article>
  </div>

  <!-- section: gráficos-->
  <div class="graphs">
      <article class="graph-sightings-by-month">
          <h2>Avistamientos de aves por mes</h2>
          <canvas id="graph-sightings-by-month" role="img" aria-label="Gráfico de barras de avistamientos por mes"></canvas>
      </article>
          
      <article class="graph-volunteers-regions">
          <h2>Voluntarios por región</h2>
          <canvas id="graph-volunteers-regions" role="img" aria-label="Gráfico de torta de voluntarios por región"></canvas>
      </article>
  </div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js"></script>
<script src="{{ url_for('static', filename='js/dataConst.js') }}"></script>
<script src="{{ url_for('static', filename='js/data.js') }}"></script>
<script src="{{ url_for('static', filename='js/estadisticas/estadisticas.js') }}"></script>
{% endblock %}